<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Murata</title>
</head>
<body>

<div style="max-height:100%; max-width: 40%; margin: auto">

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#!">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#temp-sensors">Temperature</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Vibration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Settings</a>
        </li>
    </ul>



</div>

</body>
</html>